<footer class="clearfix">
    <div class="img">
        <img src="/img/cat.jpg" alt="cat">
    </div>
    <ul class="links">
        <li>
            <a href="#" target="_blank">我的github</a>
        </li>
        <li>
            <a href="#" target="_blank">我的知乎</a>
        </li>
    </ul>
</footer>
</body>