<footer class="clearfix">
    <div class="avatar">
        <img src="/img/cat.jpg" alt="cat">
    </div>
    <ul class="nav">
        <li class="links">
            <a href="#" target="_blank">我的github</a>
        </li>
        <li class="links">
            <a href="#" target="_blank">我的知乎</a>
        </li>
    </ul>
</footer>
</body>